[submodule "app/modules/facebook-php-sdk"]
	path = app/modules/facebook-php-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "assets/javascript/tubeplayer"]
	path = assets/javascript/tubeplayer
	url = https://github.com/nirvanatikku/jQuery-TubePlayer-Plugin
[submodule "assets/javascript/history.js"]
	path = assets/javascript/history.js
	url = https://github.com/balupton/history.js.git
[submodule "assets/spin.js"]
	path = assets/spin.js
	url = https://github.com/fgnass/spin.js.git
[submodule "assets/javascript/gritter"]
	path = assets/javascript/gritter
	url = https://github.com/jboesch/Gritter.git
[submodule "assets/javascript/spin.js"]
	path = assets/javascript/spin.js
	url = https://github.com/fgnass/spin.js.git
[submodule "assets/javascript/alertify.js"]
	path = assets/javascript/alertify.js
	url = https://github.com/fabien-d/alertify.js.git
