[submodule "sdk"]
	path = sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "gdata"]
	path = gdata
	url = https://github.com/zendframework/ZendGData
[submodule "tubeplayer"]
	path = tubeplayer
	url = https://github.com/nirvanatikku/jQuery-TubePlayer-Plugin
[submodule "history"]
	path = history
	url = https://github.com/balupton/history.js.git
