[submodule "app/modules/facebook-php-sdk"]
	path = app/modules/facebook-php-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "assets/javascript/tubeplayer"]
	path = assets/javascript/tubeplayer
	url = https://github.com/nirvanatikku/jQuery-TubePlayer-Plugin
[submodule "assets/javascript/history.js"]
	path = assets/javascript/history.js
	url = https://github.com/balupton/history.js.git
