RewriteEngine On

RewriteCond %{HTTP_HOST} !local$
RewriteCond %{HTTP_HOST} !mysterious-spire-7359$
#RewriteCond %{HTTP_HOST} ^www\. [NC]
#RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://www.eatbass.com/$1 [R=301,L]

# Pass slug as GET variable
RewriteRule ^([^/\.]+)/?$ index.php?slug=$1 [L]