/*
  title: all-styles css
*/
/*
  title: all-styles css
*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  z-index: 0;
  text-shadow: 0px 0px 4px #757575;
  filter: dropshadow(color=#757575, offx=0, offy=0);
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 300;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong {
  font-weight: 600;
}
strong {
  font-weight: 600;
}
a,
a:link,
a:hover,
a:visited {
  color: white;
}
body > svg {
  height: 0;
}
#background-blur {
  position: fixed;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  z-index: -100;
  background-color: black;
  background-repeat: both;
  background-position: 0 200px;
}
#wrapper {
  width: 720px;
  margin: 0.6em auto;
}
header {
  height: 4em;
}
header h3 {
  display: inline;
  float: left;
  font-size: 1.7em;
  font-weight: 600;
}
header h3 em {
  font-weight: 300;
}
header #user {
  width: 50%;
  height: 3.4em;
  padding-top: 0.6em;
  float: right;
}
header #user a {
  text-decoration: none;
  text-transform: lowercase;
}
header #user a:hover {
  text-decoration: underline;
}
header #user h4,
header #user h5,
header #user a {
  display: inline;
  float: right;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 1em;
}
header #user .profile img {
  height: 36px;
  width: 36px;
  margin-right: 0.4em;
  vertical-align: middle;
  position: relative;
  bottom: 4px;
}
header #user .profile em {
  display: inline;
}
header #user .love {
  color: #ff3300;
}
header #user .skip {
  color: white;
}
#text #video_title {
  display: inline;
  float: left;
}
#text #video_author {
  display: inline;
  float: right;
}
#text #video_description {
  clear: both;
  display: block;
}
#login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
#login > div {
  width: 90%;
  margin: 16% auto;
}
#login > div h3 {
  font-size: 2em;
  font-weight: 600;
}
#login > div h3 em {
  font-weight: 300;
}
#login > div > strong {
  font-size: 1.2em;
}
#login > div > strong .fb-login-button {
  display: inline;
  margin: 0 0.2em;
}
#login > div > p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300;
  margin-top: 3em;
}
#login > div > p em {
  font-weight: 300;
}
#player {
  overflow: hidden;
  width: 720px;
  height: 400px;
  margin: 0 auto;
}
#player #player-yt {
  height: 720px;
  width: 720px;
  position: relative;
  bottom: 160px;
}
/* Large desktop */
@media (min-width: 1200px) {
  #wrapper {
    width: 1080px;
  }
  #player {
    width: 1080px;
    height: 600px;
  }
  #player #player-yt {
    height: 1080px;
    width: 1080px;
    bottom: 240px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #wrapper {
    width: 720px;
  }
  #player {
    width: 720px;
    height: 400px;
  }
  #player #player-yt {
    height: 720px;
    width: 720px;
    bottom: 160px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #wrapper {
    width: 480px;
  }
  #player {
    width: 480px;
    height: 266px;
  }
  #player #player-yt {
    height: 480px;
    width: 480px;
    bottom: 107px;
  }
  header {
    height: 7.6em;
  }
  header h3 {
    display: block;
    float: none;
    text-align: center;
  }
  header #user {
    width: 100%;
    display: block;
    height: 4em;
    float: none;
  }
  header #user .profile {
    padding-left: 0;
    float: left;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #wrapper {
    width: 320px;
  }
  #player {
    width: 320px;
    height: 176px;
  }
  #player #player-yt {
    height: 320px;
    width: 320px;
    bottom: 72px;
  }
  header {
    height: 7.6em;
  }
  header h3 {
    display: block;
    float: none;
    text-align: center;
  }
  header #user {
    width: 100%;
    display: block;
    height: 4em;
    float: none;
  }
  header #user .profile {
    padding-left: 0;
    float: left;
  }
}
