
/*
  title: all-styles css
*/

// Fonts

//@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');


@import 'resets';

.reset();
.normalize();

body {
	// font-family: 'Droid Sans', Helvetica, sans-serif;
	font-family: 'Open Sans', sans-serif;

	color: white;
	background-color: black;
	margin: 0;
	padding: 0;
	z-index: 0;

	text-shadow: 0px 0px 4px #757575;
        filter: dropshadow(color=#757575, offx=0, offy=0);
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	font-size: 1.5em;

	line-height: 2em;

	font-weight: 300;
	strong {
		font-weight: 600;
	}
}

strong {
	font-weight: 600;
}

a, a:link, a:hover, a:visited {
	color: white;
}


// Layout

body > svg {
	height: 0;
}

#page-blur {
}

#background-blur {
	position: fixed;
	top: -30px;
	right: -30px;
	bottom: -30px;
	left: -30px;
	z-index: -100;

	background-color: black;
	background-repeat: both;
	background-position: 0 200px;
}
#wrapper {
	width: 720px;
	margin: 0.6em auto;
}
header {
	height: 4em;
	h3 {
		display: inline;
		float: left;

		font-size: 1.7em;
		font-weight: 600;
		em {
			font-weight: 300;
		}
	}
	#user {
		width: 50%;
		height: 3.4em;
		padding-top: 0.6em;
		float: right;
		a {
			text-decoration: none;
			text-transform: lowercase;
		}
		a:hover {
			text-decoration: underline;
		}
		em.sup {
			font-size: 0.5em;
			position: relative;
			bottom: 0.8em;
		}
		h4, h5, a {
			display: inline;
			float: right;

			font-weight: 300;

			font-size: 1.2em;
			line-height: 2em;
			padding-left: 1em;
		}
		.profile {
			img {
				height: 32px;
				width: 32px;
				position: relative;
				bottom: 4px;
				margin-right: 0.4em;
				vertical-align: middle;
			}
			em {
				display: inline;
			}
		}
		.love {
			color: #ff3300;
		}
		.skip {
			color: white;
		}
	}
}
#text {
	#video_title {
		display: inline;
		float: left;
	}
	#video_author {
		display: inline;
		float: right;
	}
	#video_description {
		clear: both;
		display: block;
	}
}

#login, #profile {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	> div {
		width: 90%;
		margin: 16% auto;
	}
}

#login {
	> div {
		h3 {
			font-size: 2em;
			font-weight: 600;
			em {
				font-weight: 300;
			}
		}
		> strong {
			font-size: 1.2em;
			.fb-login-button {
				display: inline;
				margin: 0 0.2em; 
			}
		}
		> p {
			font-size: 1.2em;
			line-height: 1.5em;
			font-weight: 300;

			margin-top: 3em;
			em {
				font-weight: 300;
			}
		}
	}
}

#profile {
}

// Player

#player {
	overflow: hidden;
	width: 720px;
	height: 400px;
	margin: 0 auto;
	#player-yt {
		height: 720px;
		width: 720px;
		position: relative;
		bottom: 160px;
	}
}

footer {
	margin-top: 3em;
	text-align: right;
	a {
		text-decoration: none;
	}
	a:after {
		content: ' | ';
	}
	a:last-child:after {
		content: '';
	}
}

// Responsiveness

/* Large desktop */
@media (min-width: 1200px) {
	#wrapper {
		width: 1080px;
	}
	#player {
		width: 1080px;
		height: 600px;
		#player-yt {
			height: 1080px;
			width: 1080px;
			bottom: 240px;
		}
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#wrapper {
		width: 720px;
	}
	#player {
		width: 720px;
		height: 400px;
		#player-yt {
			height: 720px;
			width: 720px;
			bottom: 160px;
		}
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#wrapper {
		width: 480px;
	}
	#player {
		width: 480px;
		height: 266px;
		#player-yt {
			height: 480px;
			width: 480px;
			bottom: 107px;
		}
	}
	header {
		height: 7.6em;
		h3 {
			display: block;
			float: none;

			text-align: center;
		}	
		#user {
			width: 100%;
			display: block;
			height: 4em;
			float: none;
			.profile {
				padding-left: 0;
				float: left;
			}
		}
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#wrapper {
		width: 320px;
	}
	#player {
		width: 320px;
		height: 176px;
		#player-yt {
			height: 320px;
			width: 320px;
			bottom: 72px;
		}
	}
	header {
		height: 7.6em;
		h3 {
			display: block;
			float: none;

			text-align: center;
		}	
		#user {
			width: 100%;
			display: block;
			height: 4em;
			float: none;
			.profile {
				padding-left: 0;
				float: left;
			}
		}
	}
}