
/*
  title: all-styles css
*/

// Fonts

//@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');


@import 'resets';

.reset();
.normalize();

body {
	// font-family: 'Droid Sans', Helvetica, sans-serif;
	font-family: 'Open Sans', sans-serif;

	color: white;
	margin: 0;
	padding: 0;
	z-index: 0;
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	font-size: 1.5em;

	line-height: 2em;

	font-weight: 300;
	strong {
		font-weight: 600;
	}
}

strong {
	font-weight: 600;
}

a, a:link, a:hover, a:visited {
	color: white;
}


// Layout

body > svg {
	height: 0;
}

#page-blur {
}

#background-blur {
	position: fixed;
	top: -30px;
	right: -30px;
	bottom: -30px;
	left: -30px;
	z-index: -100;

	background-color: black;
	background-repeat: both;
	background-position: 0 200px;
}
#wrapper {
	width: 720px;
	margin: 0.6em auto;
}
header {
	height: 4em;
	h3 {
		display: inline;
		float: left;

		font-size: 2em;
		font-weight: 600;
		em {
			font-weight: 300;
		}
	}
	#user {
		width: 50%;
		height: 3.4em;
		padding-top: 0.6em;
		float: right;
		h4, img, a {
			display: inline;
			float: right;
		}
		img {
			height: 36px;
			width: 36px;
			padding: 5px;
		}
		a, h4{		
			font-size: 1.17em;
			line-height: 2em;
			padding: 5px 1em;
		}
		h4 > a {
			font-size: 1.17em;
			padding: 0;
			float: none;
			line-height: 0;
		}
		.love {
			color: #ff3300;
		}
		.skip {
			color: white;
		}
	}
}
#text {
	#video_title {
		display: inline;
		float: left;
	}
	#video_author {
		display: inline;
		float: right;
	}
	#video_description {
		clear: both;
		display: block;
	}
}


#login {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	> div {
		width: 400px;
		height: 400px;
		margin: 20% auto;
		h3 {
			font-size: 2em;
			font-weight: 600;
			em {
				font-weight: 300;
			}
		}
		> strong {
			.fb-login-button {
				display: inline;
				margin: 0 0.2em; 
			}
			font-size: 1.2em;
		}
	}
}

// Player and responsiveness

#player {
	overflow: hidden;
	width: 720px;
	height: 400px;
	margin: 0 auto;
	#player-yt {
		height: 720px;
		width: 720px;
		position: relative;
		bottom: 160px;
	}
}

// Responsiveness

/* Large desktop */
@media (min-width: 1200px) {
	#wrapper {
		width: 1080px;
	}
	#player {
		width: 1080px;
		height: 600px;
		#player-yt {
			height: 1080px;
			width: 1080px;
			bottom: 240px;
		}
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#wrapper {
		width: 720px;
	}
	#player {
		width: 720px;
		height: 400px;
		#player-yt {
			height: 720px;
			width: 720px;
			bottom: 160px;
		}
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#wrapper {
		width: 480px;
	}
	#player {
		width: 480px;
		height: 266px;
		#player-yt {
			height: 480px;
			width: 480px;
			bottom: 107px;
		}
	}
	header {
		h3 {
			display: inline;
			float: none;
		}	
		#user {
			width: 100%;
			height: 4em;
			float: none;
			img {
				display: none;
			}
		}
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	header {
		h3 > em {
			display: none;
		}
	}
	#wrapper {
		width: 320px;
	}
	#player {
		width: 320px;
		height: 176px;
		#player-yt {
			height: 320px;
			width: 320px;
			bottom: 72px;
		}
	}
}