
/*
  title: all-styles css
*/

// Fonts

@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');

body {
	font-family: 'Droid Sans', Helvetica, sans-serif;
}



// Styles
#player {
	overflow: hidden;
	width: 720px;
	height: 400px;
	#player-yt {
		height: 720px;
		width: 720px;
	position: relative;
		bottom: 160px;
	}
}

// Responsiveness

/* Large desktop */
@media (min-width: 1200px) {
	#player {
		width: 1080px;
		height: 600px;
		#player-yt {
			height: 1080px;
			width: 1080px;
			bottom: 240px;
		}
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#player {
		width: 720px;
		height: 400px;
		#player-yt {
			height: 720px;
			width: 720px;
			bottom: 160px;
		}
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#player {
		width: 480px;
		height: 266px;
		#player-yt {
			height: 480px;
			width: 480px;
			bottom: 107px;
		}
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#player {
		width: 320px;
		height: 176px;
		#player-yt {
			height: 320px;
			width: 320px;
			bottom: 72px;
		}
	}
}